* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(225, 100%, 94%);
  width: 90%;
  height: 90%;
  padding: 1.5rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 380px;
  width: 100%;
  max-height: 80%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 20px 25px 15px rgba(0, 0, 0, 0.05),
    0 40px 30px 15px rgba(0, 0, 0, 0.1);
}

.figure {
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  margin-bottom: 1rem;
}

.section-center {
  text-align: center;
  padding: 12px;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(224, 23%, 55%);
  margin-bottom: 1.5rem;
}

.plan {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 300px; /* 👈 Limite máximo */
  margin: 0 auto 1.5rem; /* 👈 Centraliza horizontalmente */
  padding: 1rem 1.5rem;
}

.plan-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.plan-details {
  display: flex;
  flex-direction: column;
}

.plan-name {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 0.2rem;
}

.plan-price {
  color: hsl(224, 23%, 55%);
  font-size: 0.9rem;
}

.change-link {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: underline;
}

.change-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: hsl(245, 90%, 70%);
}

.button {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 2rem auto;
}

.button-top {
  border-radius: 12px;
  margin-bottom: 1.5rem;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  font-weight: 700;
  border: none;
  padding: 10px;
  box-shadow: 0 20px 25px 15px rgba(0, 0, 0, 0.05),
    0 40px 30px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-top:hover {
  background-color: hsl(245, 90%, 70%);
}

.button-bottom {
  border-radius: 12px;
  background-color: transparent;
  border: none;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  cursor: pointer;
}

.button-bottom:hover {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
